# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.idea

*.tsbuildinfo


/node_modules
/csmn_front/node_modules
/csmn_front/dist
/csmn_back/node_modules
.env
